.new{
    grid-template: "leftside rightside" / 8fr 4fr
}
@media (max-width: 1024px) {
   
    .ppNTRTHTMA{
        margin-top: 0px !important;
    }
    .max_w_1024_py{
        padding-top:0px ;
        padding-bottom: 0px;
    }
}